# -*- makefile -*-
# Included by all ChannelArchiver Makefiles

# Version Numbers
USR_CXXFLAGS += -D ARCH_VERSION=2 -D ARCH_RELEASE=1 -D ARCH_PATCH=0

# On Solaris, some people had to change
# the compiler settings to avoid "-ansi" and "-predantic".
#CXXCMPLR=TRAD

# These are overrides for CONFIG_SITE.
# You can try to build shared libs, but don't come running!
SHARED_LIBRARIES = NO

# no optimzation, include debug info
HOST_OPT=NO

# to increase the max number of export channels to 1000 use
#USR_CXXFLAGS += -DEXTEND_EXPORT

# EPICS base includes
USR_CXXFLAGS += -I$(EPICS_BASE)/include -I$(EPICS_BASE)/include/os/$(OS_CLASS)
                                                                                         
