# Example crontab
# kasemir@lanl.gov

# minute         0-59
# hour           0-23
# day of month   1-31
# month          1-12 (or names, see below)
# day of week    0-7 (0 or 7 is Sun, or use names)

# Cleanup of temporary files in CGI dir.
# run five minutes after 2am, every day
5 2 * * *       rm -f /cs/epics/extensions/src/ChannelArchiver/CGIExport/Tests/cgi/tmp/*

